@{
    ViewData["Title"] = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var roles = ViewBag.roles;
}

@if (User.Identity.IsAuthenticated)
{
    @using taohi_backend.Models;

    @model IEnumerable<UserViewModel>;
    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

    <div class="container">
        <h1>Users</h1>
        <hr />
        <a asp-action="NewUser" class="btn btn-primary" style="width:auto;">
            Create New User
        </a>
        <hr />
        <form asp-action="Index" method="get">
            <div class="form-group">
                <label>Filter by role:</label>
                <select onchange="this.form.submit()" name="role" class="form-control" default="">
                    <option value="">Select role</option>
                    @foreach (var role in roles)
                    {
                        <option value="@role">@role</option>
                    }
                </select>
            </div>
        </form>
        @foreach (var user in Model)
        {
            <div class="card mb-3">
                <div class="card-header">
                    User Id: @user.Id
                </div>
                <div class="card-body">
                    <h5 class="card-title">@user.UserName</h5>
                    <p class="card-title">@user.Email</p>
                    @if (@user.IsActive)
                    {
                        <p class="card-title">
                            Active
                        </p>
                    }
                    else
                    {
                        <p class="card-title">
                            Suspended
                        </p>
                    }
                </div>
                <div class="card-footer">
                    <a asp-action="EditUser" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
                    @if (user.UserType != UserType.Admin)
                    {
                    }
                    <a asp-action="DeleteUser" asp-route-id="@user.Id" class="btn btn-danger">Delete</a>
                </div>
            </div>
        }
    </div>
}
